<div class="navbar navbar-expand navbar-dark bg-dark">
  <div *ngIf="role == '7' || role == '9' || role == '10' || role == '8' || role == '11'" ngbDropdown>
    <button class="btn" id="dropdownBasic2" ngbDropdownToggle id="dropdown">Menu</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="mt-2">
      <button *ngIf="role == '7' || role == '9'" ngbDropdownItem routerLink="/roles">Roles</button>
      <button *ngIf="role == '7' || role == '9'" ngbDropdownItem routerLink="/users">Users</button>
      <button *ngIf="role == '7' || role == '9'" ngbDropdownItem routerLink="/faculties">Faculties</button>
      <button *ngIf="role == '7' || role == '9' || role == '10'" ngbDropdownItem routerLink="/contributions">Contributions</button>
      <button *ngIf="role == '7' || role == '9' || role == '10' || role == '8' || role == '11'" ngbDropdownItem routerLink="/home">Home</button>
      <button *ngIf="role == '7' || role == '9' || role == '10' || role == '8' || role == '11'" ngbDropdownItem routerLink="/dashboard">Dashboard</button>
      <button (click)="logout()" routerLink="/login" ngbDropdownItem>Logout</button>
    </div>
  </div>
  <div class="navbar-brand mx-auto" id="brand2">OldBuff</div>
  <div *ngIf="role == '7' || role == '9' || role == '10' || role == '8' || role == '11'" class="navbar-nav mr-auto" id="navi">
    <li *ngIf="role == '7' || role == '9'" class="nav-item">
      <a routerLink="/roles" class="nav-link">Roles</a>
    </li>
    <li *ngIf="role == '7' || role == '9'" class="nav-item">
      <a routerLink="/users" class="nav-link">Users</a>
    </li>
    <li *ngIf="role == '7' || role == '9'" class="nav-item">
      <a routerLink="/faculties" class="nav-link">Faculties</a>
    </li>
    <li *ngIf="role == '7' || role == '9' || role == '10'"  class="nav-item">
      <a routerLink="/contributions" class="nav-link">Contributions</a>
    </li>
    <li *ngIf="role == '7' || role == '9' || role == '10' || role == '8' || role == '11'" class="nav-item">
      <a routerLink="/home" class="nav-link">Home</a>
    </li>
    <li *ngIf="role == '7' || role == '9' || role == '10' || role == '8' || role == '11'" class="nav-item">
      <a routerLink="/dashboard" class="nav-link">Dashboard</a>
    </li>
    <li class="nav-item">
      <a routerLink="/login" (click)="logout()" class="nav-link">Logout</a>
    </li>
  </div>
  <div class="navbar-brand mx-auto" id="brand1">OldBuff</div>
</div>
<div class="container mx-auto" style="background-color: lightgray;">
    <h2 class="text-center"> Percentage of contributions in each faculty</h2>
    <div class="chart">
        <canvas baseChart
            [data]="pieChartDataPer"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColors"
            [legend]="pieChartLegend">
        </canvas>
    </div>
    <h2 class="text-center"> Number of contributions in each faculty</h2>
    <div class="chart">
      <canvas baseChart
          [data]="pieChartDataNum"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
      </canvas>
    </div>
    <h2 class="text-center"> Number of contributors in each faculty</h2>
    <div class="chart">
      <canvas baseChart
          [data]="pieChartDataCon"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
      </canvas>
    </div>
</div>

