<div class="navbar navbar-expand navbar-dark bg-dark">
  <div *ngIf="role == '1' || role == '2' || role == '3' || role == '4' || role == '5'" ngbDropdown>
    <button class="btn" id="dropdownBasic2" ngbDropdownToggle id="dropdown">Menu</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="mt-2">
      <button *ngIf="role == '1' || role == '2'" ngbDropdownItem routerLink="/roles">Roles</button>
      <button *ngIf="role == '1' || role == '2'" ngbDropdownItem routerLink="/users">Users</button>
      <button *ngIf="role == '1' || role == '2'" ngbDropdownItem routerLink="/faculties">Faculties</button>
      <button *ngIf="role == '1' || role == '2' || role == '3' || role == '4'" ngbDropdownItem routerLink="/contributions">Contributions</button>
      <button *ngIf="role == '1' || role == '2' || role == '3' || role == '4' || role == '5'" ngbDropdownItem routerLink="/home">Home</button>
      <button *ngIf="role == '1' || role == '2' || role == '3' || role == '4' || role == '5'" ngbDropdownItem routerLink="/dashboard">Dashboard</button>
      <button (click)="logout()" ngbDropdownItem>Logout</button>
    </div>
  </div>
  <div class="navbar-brand mx-auto" id="brand2">OldBuff</div>
  <div *ngIf="role == '1' || role == '2' || role == '3' || role == '4' || role == '5'" class="navbar-nav mr-auto" id="navi">
    <li *ngIf="role == '1' || role == '2'" class="nav-item">
      <a routerLink="/roles" class="nav-link">Roles</a>
    </li>
    <li *ngIf="role == '1' || role == '2'" class="nav-item">
      <a routerLink="/users" class="nav-link">Users</a>
    </li>
    <li *ngIf="role == '1' || role == '2'" class="nav-item">
      <a routerLink="/faculties" class="nav-link">Faculties</a>
    </li>
    <li *ngIf="role == '1' || role == '2' || role == '3' || role == '4'"  class="nav-item">
      <a routerLink="/contributions" class="nav-link">Contributions</a>
    </li>
    <li *ngIf="role == '1' || role == '2' || role == '3' || role == '4' || role == '5'" class="nav-item">
      <a routerLink="/home" class="nav-link">Home</a>
    </li>
    <li *ngIf="role == '1' || role == '2' || role == '3' || role == '4' || role == '5'" class="nav-item">
      <a routerLink="/dashboard" class="nav-link">Dashboard</a>
    </li>
    <li class="nav-item">
      <a (click)="logout()" class="nav-link">Logout</a>
    </li>
  </div>
  <div class="navbar-brand mx-auto" id="brand1">OldBuff</div>
</div>